POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_TIMEOUT=10s

LOGGER_LEVEL=debug

HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s

TIME_ZONE=UTC
